
# MUST list all machines for the cluster here, and set the hostname for each host

# NOTICE: this config file will be merged to /etc/hosts of all hosts listed here

# NOTICE: cannot be replaced by DNS

#
# HA example
#

# masters
192.168.0.1 master1.hadoop
192.168.0.2 master2.hadoop
192.168.0.3 master3.hadoop

# slaves
192.168.0.11 slave1.hadoop
192.168.0.12 slave2.hadoop
192.168.0.13 slave3.hadoop


#
# No-HA example
#
# 127.0.0.1 local.hadoop

